@{
Layout = "~/Views/Shared/_Layout.cshtml";
}


<title>Learn Center | Courses</title>
<meta charset="utf-8">
    <link rel="stylesheet" href="~/Content/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="~/Content/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="~/Content/style.css" type="text/css" media="all">
<script type="text/javascript" src="~/Scripts/jquery-1.5.2.js" ></script>
<script type="text/javascript" src="~/Scripts/cufon-yui.js"></script>
<script type="text/javascript" src="~/Scripts/cufon-replace.js"></script>
<script type="text/javascript" src="~/Scripts/Molengo_400.font.js"></script>
<script type="text/javascript" src="~/Scripts/Expletus_Sans_400.font.js"></script>
<link href="../../Content/bootstrap.css" rel="stylesheet" />
    
 <link href="~/Content/video-js.css" rel="stylesheet" />

<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>

  <script src="~/Scripts/video.js"></script>

<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<style type="text/css">.bg, .box2{behavior:url("js/PIE.htc");}</style>
<![endif]-->
<div class="body1">
  <div class="main">
      </div>
</div>
<div class="body2">
  <div class="main">
    <!-- content -->
    <section id="content">
      <div class="box1">
           
          
     <video id="my_video_1" class="video-js vjs-default-skin vjs-big-play-centered" controls
 preload="auto" width="640" height="400" poster="my_video_poster.png"
 data-setup="{}">
 <source src="@ViewBag.a" type='video/mp4'>
        
</video>
  
   


       
      </div>
    </section>
    <!-- content -->
     </div>
</div>
    </html>